<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script>
    setInterval(function() {
        window.location.reload();
    }, 5000);
</script>
<section class="content">
    <header>
        <h2>Nearby flights</h2>
    </header>
        <table>
        {% for flight in flights %}
        <tr class="flight">
            <td class="flight">
                <a href="flight/{{ flight.ads_hex }}/{{ flight.flight_number }}">
                    {{ flight.aircraft_model }} (flight {{ flight.flight_number }}) at {{ flight.distance_to_home }} km from home (hdg: {{ flight.heading }}, alt: {{ flight.altitude }}, spd: {{ flight.speed }})
                </a>
            </td>
        </tr>
        {% endfor %}
        </table>
</section>