<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<section class="content">
    <header>
        <h2>Flight info</h2>
    </header>
    <div class="flash">
        <span>Aircraft model: {{ flight.aircraft_type }}</span>

        <br/>
        <br/>

        <span>Speed: {{ flight.speed }} knots</span>
        <br/>
        <span>Altitude: {{ flight.altitude }} feet</span>
        <br/>
        <span>Heading: {{ flight.heading }} degrees</span>

        <br/>
        <br/>

        <img src="{{ flight.image_src }}"/>
    </div>
</section>