<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<section class="content">
    <header>
        <h2>Nearby flights</h2>
    </header>
    {% for flight in flights %}
        <div class="flash"><a href="flight/{{ flight.reference }}">Aircraft of type {{ flight.aircraft_model }} from {{ flight.origin}} to {{flight.destination }} (hdg: {{ flight.heading }}, alt: {{ flight.altitude }}, spd: {{ flight.speed }})</a></div>
    {% endfor %}
</section>