<!doctype html>
<title>Flight {{ flight.flight_number }}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script>
    setInterval(function() {
        window.location.reload();
    }, 10000);
</script>
<section class="content">
    <header>
        <h2>Flight info</h2>
    </header>
    <div class="flash">
        <span><b>Aircraft model</b>: {{ flight.aircraft_model }}</span>

        <br/>
        <br/>

        <span><b>Departure airport</b>: {{ flight.origin }}</span>
        <br/>
        <span><b>Destination airport</b>: {{ flight.destination }}</span>

        <br/>
        <br/>

        <span><b>Speed</b>: {{ flight.speed }} km/h</span>
        <br/>
        <span><b>Altitude</b>: {{ flight.altitude }} meters</span>
        <br/>
        <span><b>Heading</b>: {{ flight.heading }} degrees</span>

        <br/>
        <br/>

        <span><b>Distance to home</b>: {{ flight.distance_to_home }} km</span>

        <br/>
        <br/>

        <img src="{{ flight.image_src }}"/>
    </div>
</section>